# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/

# Prisma
api/prisma/*.db

# TS build info
*.tsbuildinfo
